html 
	head
		title= title
	body
		h1= title


		form(method='POST' action= actionUrl)
			div.form-group
				p
					label(for='name') Character Name
					br 
					input#name.form-control(type='text', name='name', value=(undefined===name ? '' : name))
					

				p 
					label(for='str') STR
					br
					input#str.form-control(type='text', name='str' value=(undefined===str ? '' : str))

				p 
					label(for = 'int') INT
					br
					input#int.form-control(type='text', name='int', value=(undefined===int ? '' : int))
			button.btn.btn-primary(type='submit') Submit

		if errors 
			ul
				for error in errors
					li!= error.msg